footer {
    color: #000000;
    text-align: center;
    font-size: .8em;
    padding: 1em;
    font-family: verdana, sans-serif;
    background-color: white;
    padding: 0;
    position: absolute;
    height: 50px;
    margin-top: -200px;
    width: 100%
}

#foot{
    padding: 0;
}

